/* основні кольори тексту ,фону,виділення */
:root {
    --primary-color-text: #434455;
    --secondary-color-text: #2E2F42;
    --normal-color: #4D5AE5;
    --active-color:#404BBF;
}
/* основні властивості тексту */
body {
    font-family: 'Roboto',sans-serif;
   color: var(--primary-color-text);
}
/*------ header--------- */
.header {
    background: #FFFFFF;
/* CORNFLOWER */

border-bottom: 1px solid #E7E9FC;
}
/* navigation */
/* LOGO */
.logo-link-light-theme{
    text-decoration: none;
}
.accent {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33em;
/* identical to box height, or 133% */
letter-spacing: 0.03em;
    color: var(--normal-color);
}
.style {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33em;
/* identical to box height, or 133% */

letter-spacing: 0.03em;
    color: var(--secondary-color-text);
}
.list-link{
    list-style: none;
} 
.list-link .list-link-item{
    font-weight: 500;
font-size: 16px;
line-height: 1.5em;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
color: var(--secondary-color-text)
}
.list-link-item:hover,
.list-link-item:focus{
    color: var( --active-color);
}
.list-link-item{   
text-decoration: none;
}

.list-contacts{
    list-style: none;
}
.list-contacts :hover{
    color: var( --active-color);
}

.list-contacts :focus{
    color: var( --active-color);
}
.list-contacts-mail {
    text-decoration: none;   
font-size: 16px;
line-height: 1.5em;
/* identical to box height, or 150% */
 letter-spacing: 0.02em;
color: var(--primary-color-text);
}
.list-contacts-phone-number {
    text-decoration: none;
font-size: 16px;
line-height: 1.5em;
/* identical to box height, or 150% */
 letter-spacing: 0.02em;
color: var(--primary-color-text);
}

/* -------section hero-------- */
.hero {
    background-color: var(--secondary-color-text);
}
/* ----------Заголовок------- */
.main-title {
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07em;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.modal-button{
    background: var( --normal-color);
}

.modal-button:hover,
.modal-button:focus{
    background-color: var( --active-color);
}
.modal-button{
    cursor: pointer;
}
.title-btn{
    width: 105px;
height: 24px;

/* Button Text */

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5em;
/* identical to box height, or 150% */

letter-spacing: 0.04em;

color: #FFFFFF;
}
h2, h3{
    color: var(--secondary-color-text);
}
/* --------section----- */
.skills {
    background: #E5E5E5;
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
}
.menu-skills {
    list-style: none;
}
.menu-skills-item{

}
.menu-skills-suptitle {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2em;
/* identical to box height, or 120% */

letter-spacing: 0.02em;
}
.skill-description {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2em;
/* or 150% */

letter-spacing: 0.02em;
}
.menu-skils-item {

}
/* --------section------ */
.photos-work {
    background: #E5E5E5;
}
.photos-work-title {
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
}
.list-photo-work{
    list-style: none;
}
/* -------section--------- */
.team-card {
    background: #F4F4FD;
}
.team-card-title {
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1em;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
}
.list-team-card{
    list-style: none;
}
.name {
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height:1.2em;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;
}
.profession-name {
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;
}

/* css для portfolio.html */

.gellery{
    background: #E5E5E5;
}
.gellery-title{
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07em;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;
}
.list-button{
    list-style: none;
}
.button{

/* CLOUD */

background: #F4F4FD;
/* CORNFLOWER */
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5em;
/* identical to box height, or 150% */

align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* IRIS */
color:var(--normal-color);
}
.button:hover,
.button:focus{
    /* OCEAN */
    
    background:var(--active-color);
     font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5em;
    /* identical to box height, or 150% */
    
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #FFFFFF;
}
.list-projects{
    list-style: none; 
}
.list-projects-title{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2em;
/* identical to box height, or 120% */
letter-spacing: 0.02em;
}
.text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
    /* identical to box height, or 120% */
    
    letter-spacing: 0.02em;
    
    /* NAVY BLUE */
    
    color: var(--primary-color-text)
}


.footer {
    background-color:  var(--secondary-color-text);
}
.logo-link-dark-theme .style{
    color: #F4F4FD;
}
.footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5em;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;
}